.Header{
    width: 100%;
    background-color: #333;
    margin: 0;
    padding: 20px 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    box-sizing: border-box;
    z-index: 100;
}
.Header .headerContent{
    margin: 0 auto;
    text-align: center;
}
.Header .headerContent .Logo{
    margin: 0;
    padding: 10px 0;
    color: yellowgreen;
}
.Header .headerContent .HeaderMenu{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: center;
    background-color: #333;
    margin: 0;
    margin-top: 10px;
}
.Header .headerContent .HeaderMenu li{
    padding: 10px 0;
}
.Header .headerContent .HeaderMenu li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
}
.Header .headerContent .HeaderMenu li a:hover{
    color: yellowgreen;
    border-bottom: 3px solid snow;
}