.RecipList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 ;
    margin: 0 auto;
    width: 1000px;
}
.RecipList li{
    width: 220px;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: #000;
}
.RecipList li span{
    height: 150px;
    width: 180px;
}
.RecipList li span img{
    height: 150px;
    width: 180px;
}
.RecipList li strong{
    color: yellowgreen;
}
.RecipList li p{
    color: #fff;
}