h2{
    color: rgb(73, 224, 73);
    font-size: 40px;
}
.loginBox{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 80px 0;
}
.loginBox ul{
    list-style: none;
    padding: 0;
}
.loginBox ul li input#userID,
.loginBox ul li input#userPass{
    width: 400px;
    height: 20px;
    padding: 20px;
    border: 1px solid #aaa
}
.loginBox ul li input#userID{
    border-radius: 10px 10px 0 0;
}
.loginBox ul li input#userPass{
    border-radius: 0 0 10px 10px;
}
.loginBox ul li.saveChk{
    box-sizing: border-box;
    margin-top: 20px;
}
.loginBox ul li.saveChk span{
    margin-left: 300px;
}
.btn{width: 450px; border: 1px solid rgb(73, 224, 73);}
.btn:hover{background-color: rgb(73, 224, 73);}