.PizzaTable{
    width: 843px;
    height: 525px;
    margin: 0 auto;
    padding: 0;
    border: 3px solid #bb4d50;
    box-sizing: border-box;
    position: relative;
    background-color: #383d3d;

}
.PizzaTable h2{
    background-color: #ef646a;
    margin: 0;
    text-align: left;
    padding-left: 20px;
    height: 40px;
    position: relative;
}
.PizzaTable h2 span{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border: 2px solid #313538;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: #fff;
}
.menuBtns{
    background-color: #313538;
    width: 180px;
    height: 480px;
    position: absolute;
    top: 40px;
    left: 0;
    padding-top: 30px;
    padding-right: 10px;
    text-align: right;
    border-right: 5px solid #111;
    box-sizing: border-box;
}
.menuBtns button{
    margin-bottom: 10px;
    width: 130px;
    padding: 5px 10px 5px 0;
    text-align: right;
    border-bottom: 3px solid #222;
    background-color: transparent;
    border-radius: 0;
    color: #ccc;
}
.menuBtns button:hover{
    border: none;
    border-bottom: 3px solid #ccc;
}
.menuBtns button:focus{
    color: #fff;
    font-weight: 600;
}
.menuBtns button span{
    color: #ef646a;
    font-size: 10px;
    margin-right: 30px;
}


.MenuList{
    position: absolute;
    top: 40px;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 0 5px;
    border-radius: 3px solid blue;
}
.MenuList > li{
    border: 3px solid salmon;
    margin: 5px 5px 3px 5px;
    background-color: #383d3d;
    color: #fff;
    border-radius: 5px;
}
.MenuList > li >span{
    display: inline-block;
    width: 130px;
    height: 85px;
}
.MenuList > li >span >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MenuList > li > h4{
    margin: 0;
    padding: 0;
}
.MenuList > li >strong{
    margin-right: 5px;
}
.MenuList > li > button{
    background-color: #313538;
    padding: 3px 10px;
    color: #fff;
    border: 1px solid #111;
    margin-bottom: 5px;
    font-size: 12px;
}
.modal{
    background-color: #ffffff97;
    width: 656px;
    height: 479px;
    position: absolute;
    top: 40px;
    right: 0;

}
.modal .chkmodal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 150px;
    background-color: #fff;
    border-radius: 10px;
}
.modal .chkmodal > h2{
    border-radius: 10px 10px 0 0 ;
    text-align: center;
    padding: 0;
    color: #fff;
}
.modal .chkmodal > button{
    background-color: #ef646a;
    font-weight: bold;
    color: #fff;
}
.orderlist{
    position: absolute;
    top: -40px;
    right: 0;
    width: 300px;
    height: 479px;
    background-color: #383d3d;
    border-left: 5px solid #000;
    margin-top: 40px;
    
}
.orderlist .list_scroll{
    /* 스크롤 관련 속성 */
    max-height: 320px; /* 원하는 높이 제한 */
    /* overflow-y: auto; */
    /* 세로 스크롤 자동 생성 */
    overflow-y: auto; /* 세로 스크롤 허용 */
    overflow-x: hidden; /* 가로 스크롤 차단 */
    padding-right: 8px; /* 스크롤과 텍스트 겹치지 않도록 여백 */
    box-sizing: border-box;
}
.orderlist .list_scroll::-webkit-scrollbar{
    
    width: 6px;
}
.orderlist .list_scroll::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 3px;
}
.orderlist h2{
    text-align: right;
    padding: 0px 20px;
    background-color: #222;
    color: #fff;
    position: relative;
}
.orderlist h2 > button{
    position: absolute;
    top: 50%;
    left: 10px;
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    background-color: #383d3d;
    color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}
.orderlist ul{
    list-style: none;
    color: #fff;
    padding: 0 10px;
}
.orderlist ul > li{
    border: 1px solid #999;
    position: relative;
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
}
.orderlist ul > li >p{
    padding: 0;
    margin: 0;
}
.orderlist ul > li >span{
    font-size: 11px;
}
.orderlist ul li .buttons{
    position: absolute;
    top: 45%;
    right: 5px;
    height: 30px;
}
.orderlist ul li .buttons button{
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #313538;
    border: 2px solid #111;
    line-height: 0;
    transition: 0.3s;
    font-size: 14px;
    text-align: center;
    padding: 6px;

}
.orderlist ul li .buttons button:hover{
    background-color: #fff;
    color: #313538;
}
.orderlist ul li .buttons >strong{
    display: inline-block;
    padding: 0 5px;
    height: 100%;
    line-height: 0.3;
}
.pay{
    color: #fff;
}